
<div id ="wrapper">
	<div id = "header">
		Содержимое хэдэра
	</div>
	<div id = "container">
		<div id="left">
			Содержимое левой колонки
		</div>
		<div id="right">
			Содержимое правой колонки
		</div>
		<div id="center">
			Содержимое центральной колонки
		</div>
	</div>
	<div class = "clear"></div>
</div>

