// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lightbox {
	width:150px;
	height:200px;
	margin: 10px;
}


body {
	margin:0;
	height:100%;
	background-color:#f0f0f0;
}