<!DOCTYPE html>
<html>
<head>
  <title>Zebra</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id ="wrapper">
	<div id = "header">
		Videos
	</div>
	<div id = "container">
		<div id="left">
		</div>
		<div id="right">
		</div>
		<div id="center">
			<%= yield %>
		</div>
	</div>
	<div class = "clear"></div>
	
	<div id = "footer">
		<p id="logo">Funny.net @2012</p>
	</div>
	
</div>

</body>
</html>
